

body{
    margin: 0;
    font-family: 'Manrope', sans-serif;
    background-color:hsl(218, 23%, 16%) ;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  

.advice-container-fluid{
    position: relative;
    display: block;
    max-width: 900px;
    height: 400px;
    margin: 0 auto;
    margin-top: 180px;
    margin-bottom: 180px;
    background-color:#313A49 ;
    border-radius: 10px;
}

.advice-h2{
    display: block;
    text-align: center;
    padding-top: 40px;
    text-transform: uppercase;
    color:hsl(150, 100%, 66%);
    font-size: 16px;
    letter-spacing: 2px;
}
.advice-content-fluid{
    display: block;
    text-align: center;
    width: 450px;
    height: 100px;
    margin: 0 auto;
    margin-top: 90px;
    color: hsl(193, 38%, 86%);
    font-size: 28px; 
    font-weight: 800; 
}


.divider-fluid img{
    display: block;
    margin: 0 auto;
    padding-top: 50px;
   
}

#advice-dice {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
 
}

#advice-dice::before {
    content: '';
    position: absolute;
    bottom: -43px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60px; 
    height: 60px; 
    background-color: hsl(150, 100%, 66%);
    border-radius: 50%;
    z-index: -1; 
}

#advice-dice:hover::before {
    box-shadow: 0 0 20px rgba(150, 240, 150, 0.8); 
}



.attribution { 
    font-size: 11px; 
    text-align: center; 
    color: hsl(193, 38%, 86%);
}

.attribution a { 
    color: hsl(228, 45%, 44%);
 }